
body {
  
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  background-color: #f5f5f5;
}



form h4 {
  
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 1rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

form label {
  
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(72, 72, 72);
  margin-bottom: 0.5rem;
}

form input[type="number"] {
  
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

#formulario-liquidacion .btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form .btn:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

form .btn-primary {
  color: #f5f5f5;
  background-color: #f32121;
}

form .btn-primary:hover {
  background-color: #d2194d;
}

form .btn-secondary {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
}

form .btn-secondary:hover {
  background-color: #bdbdbd;
}
#resultado {
  text-align: center;
  background-color: #f8f8f8;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: sans-serif;
}
form .resultado {
  font-size: 1.5rem;
  font-weight: 500;
  color: #600413;
  margin-top: 1rem;
}
#formulario-liquidacion .btn:disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

#formulario-liquidacion fieldset {
font-size: 30px;
    
  background: white;
  border: 0 none;
 
 
  padding: 20px 30px;
  box-sizing: border-box;
 
  width: 40%;
  margin: 0 10%;


}

#formulario-liquidacion {
  justify-content: center;
  background: linear-gradient(60deg, rgba(218, 54, 54, 0.959) 0%, rgb(255, 26, 26) 100%);
  padding: 7px;
  display: flex;
  
  
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {

  background-color: #333;
  color: #fff;
  padding: 40px 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.footer h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0;
  color: #fff;
}

.footer .copyright {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .copyright .developer {
  margin-right: 10px;
  font-style: italic;
  color: #e23d3d;
}

@media (max-width: 991px) {
  .footer .col-12 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer h3 {
    font-size: 16px;
  }

  .footer .copyright {
    font-size: 12px;
  }
}

/* Estilos para el encabezado */
.header {

  
  position: relative;
  text-align: center;
  background-color: black;
  color: #f5f5f5;
}



@media (max-width: 768px) {
 
 
}
/*Shrinking for mobile*/
@media (max-width: 890px) {
  

  h1 {
    font-size: 24px;
  }
  #formulario-liquidacion fieldset {
    width: 100%;
  }
  #formulario-liquidacion{
    width: 100%;
  }
}

/* Estilos para el menú de navegación */
.nav {
position: sticky;
top: 0;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #333;
color: #fff;
width: 100%;
font-size: 25px;
font-family: sans-serif;



box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
}

.nav a {
  
  padding: 20px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  transition: .3s ease-out all;
  display: inline-block;
}

.nav a:hover {
  

  transform: scale(1.1);
  border-radius: 10px;
}
.inicio:hover{
  color: rgb(246, 255, 0);
}
.calhoras:hover{
  color: rgb(83, 174, 239);
}
.calsueldo:hover{
  color: rgb(252, 101, 101);
}

.nav a:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column
    
    
  }
 .nav a {
    padding: 15px;
    
    
  }
  
}
.temblor {
  animation: temblor 0.2s;
}
/*este es un cambio*/
@keyframes temblor {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
