body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333333;
  background-color: #f5f5f5;
}



form h4 {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 1rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

form label {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 0.5rem;
}

form input[type="number"] {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

#formulario-liquidacion .btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form .btn:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

form .btn-primary {
  background-color: #21f375;
}

form .btn-primary:hover {
  background-color: #19d2a1;
}

form .btn-secondary {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
}

form .btn-secondary:hover {
  background-color: #bdbdbd;
}
#resultado {
  text-align: center;
  background-color: #f8f8f8;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: sans-serif;
}
form .resultado {
  font-size: 1.5rem;
  font-weight: 500;
  color: #086004;
  margin-top: 1rem;
}
#formulario-liquidacion .btn:disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

#formulario-liquidacion fieldset {
  background: white;
  border: 0 none;
  border-radius: 30px;
  box-shadow: 0 0 2px 1px rgba(2, 127, 15, 0.552);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 50%;
  margin: 0 10%;
  position: relative;
 
}

#formulario-liquidacion {
  padding: 7px;
  display: flex;
  justify-content: center;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.footer h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0;
  color: #fff;
}

.footer .copyright {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .copyright .developer {
  margin-right: 10px;
  font-style: italic;
  color: #7cb342;
}

@media (max-width: 991px) {
  .footer .col-12 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer h3 {
    font-size: 16px;
  }

  .footer .copyright {
    font-size: 12px;
  }
}

/* Estilos para el encabezado */
.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgb(58, 183, 148) 0%, rgb(0, 193, 109) 100%);
  color: #f5f5f5;
}
.logo2{
  width: 70px;
  fill: #f5f5f5;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;

}
.logo {
  width: 70px;
  fill: #f5f5f5;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
  animation: move-up-down 2s ease-in-out infinite;
}
@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: #f5f5f5;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
  #formulario-liquidacion fieldset {
    width: 100%;
  }

}